.crop-form {
  background-color: #fefefe;
  border-left: 4px solid #0466C8;
  margin-bottom: 30px;
}

.crop-form input,
.crop-form select {
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: 0.3s ease;
}

.crop-form input:focus,
.crop-form select:focus {
  border-color: #0353A4;
  box-shadow: 0 0 6px rgba(3, 83, 164, 0.3);
}
