 /* .soil-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
  }

.no-bullets {
  list-style: none;
  padding-left: 0;
}


  .soil-item {
    flex: 1 1 22%;
    background-color: #f8f9fa;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    text-align: center;
  }

  .soil-img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
    margin-top: 10px;
  }

.soil-types-img {
  max-width: 500px;
  height: auto;
  display: block;
  margin: 0 auto; /* optional: center image 
} */
