<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold" href="{{ url_for('main.index') }}">SmartFarm</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('main.index') }}#features">Features</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('main.about') }}">About</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('main.contact') }}">Contact</a></li>
      </ul>

      <br>
      <div class="d-flex">
        {% if session.get('logged_in') %}
          <a href="{{ url_for('main.signout') }}" class="btn btn-danger fw-bold">Signout</a>
        {% else %}
          <a href="{{ url_for('main.login') }}" class="btn btn-light text-primary fw-bold me-2">Login</a>
          <a href="{{ url_for('main.signup') }}" class="btn btn-light text-primary fw-bold me-2">Signup</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
